Accept plain OAuth2 Bearer Tokens, not base64-encoded

I still believe that RFC6750 mandates the base64-encoding of the access_token in the `Authorization` header but after [further research](https://github.com/ory/oathkeeper/issues/597#issuecomment-741100968) into it I've realized that many if not all vendors process the token in plain form (more precisely, in the same format, byte-for-byte, as was delivered in the access token response (RFC6749 section 4.1.4)).

Client components impacted by this change are:

- [hub-kms](https://github.com/trustbloc/hub-kms/blob/43e567c31a2d6637d037baeedd739f5163cd3876/pkg/secretlock/secretsplitlock/secret_split_lock.go#L164-L166)
- [edge-agent](https://github.com/trustbloc/edge-agent/blob/10062645befa4e3857f53096d81e91c96cc162f4/pkg/restapi/oidc/operations.go#L985-L990)

https://github.com/trustbloc/hub-auth/blob/413a3517d5d5a373780c7f55d7f866456db5a31a/pkg/restapi/operation/operations.go#L806-L833